## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [29]:
lista2 = ["Bogota", "Madrid", "Paris", "Tokyo", "Cairo"]
print(lista2)

['Bogota', 'Madrid', 'Paris', 'Tokyo', 'Cairo']

2) Imprimir por pantalla el segundo elemento de la lista

In [30]:
print(lista2[1])

Madrid

3) Imprimir por pantalla del segundo al cuarto elemento

In [31]:
print(lista2[1:4])

['Madrid', 'Paris', 'Tokyo']

4) Visualizar el tipo de dato de la lista

In [32]:
print(type(lista2))

<class 'list'>

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [33]:
print(lista2[2:])

['Paris', 'Tokyo', 'Cairo']

6) Visualizar los primeros 4 elementos de la lista

In [34]:
print(lista2[:4])

['Bogota', 'Madrid', 'Paris', 'Tokyo']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [36]:
lista2.insert(0, "Bogota")
print(lista2)
lista2.append("Moscow")
print(lista2)
# No hay error ya que las listas pueden contener valores duplicados

['Bogota', 'Bogota', 'Madrid', 'Paris', 'Tokyo', 'Cairo', 'Moscow']
['Bogota', 'Bogota', 'Madrid', 'Paris', 'Tokyo', 'Cairo', 'Moscow']

8) Agregar otra ciudad, pero en la cuarta posición

In [37]:
lista2.insert(3, "Buenos Aires")
print(lista2)

['Bogota', 'Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow']

9) Concatenar otra lista a la ya creada

In [39]:
lista2.extend(["Kyoto", "Berlin", "Washington"])
print(lista2)

['Bogota', 'Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin', 'Washington']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [40]:
lista2.index("Bogota")
# Solo encuentra el indice de la primera vez que el valor aparece en la lista

0

11) ¿Qué pasa si se busca un elemento que no existe?

In [41]:
lista2.index("Ginebra")
# Genera error al no existir en la lista

ValueError: 'Ginebra' is not in list

12) Eliminar un elemento de la lista

In [42]:
lista2.remove("Bogota")
print(lista2)

['Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin', 'Washington']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [43]:
lista2.remove("Ginebra")
# Genera error al no existir en la lista

ValueError: list.remove(x): x not in list

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [44]:
ultimo = lista2.pop()
print(ultimo)

Washington

15) Mostrar la lista multiplicada por 4

In [45]:
print(lista2 * 4)

['Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin', 'Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin', 'Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin', 'Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [46]:
tupla1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [48]:
print(tupla1[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [57]:
print(20 in tupla1)
print(30 in tupla1)

# Imprimiendo datos para evitar operaciones booleanas

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [58]:
if "Paris" in lista2:
    print("Paris ya hace parte de la lista.")
else:
    lista2.append("Paris")
    print("Paris ha sido agregado a la lista.")

print(lista2)

Paris ya hace parte de la lista.
['Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [60]:
print(tupla1.count(1))
print(lista2.count("Paris"))

1
1

21) Convertir la tupla en una lista

In [65]:
lista3 = list(tupla1)

print(lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [69]:
x,y,z,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_,_ = tupla1
print(x,y,z)

1 2 3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [74]:
diccionario = {"Ciudades": lista2, "Numeros": tupla1, "Continentes": 5}
print(diccionario)

{'Ciudades': ['Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin'], 'Numeros': (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20), 'Continentes': 5}

24) Imprimir las claves del diccionario

In [72]:
print(diccionario.keys())

dict_keys(['Ciudaded', 'Numeros', 'Continentes'])

25) Imprimir las ciudades a través de su clave

In [81]:
print(diccionario["Ciudades"])

['Bogota', 'Madrid', 'Buenos Aires', 'Paris', 'Tokyo', 'Cairo', 'Moscow', 'Kyoto', 'Berlin']